.input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #000000;
    border: none;
    border-bottom: 1px solid #f55263;
    padding: 10px;
    color: #ffffff;
    box-sizing: border-box;
}