@import '../../styles/constants.scss';

.status-bar {
    padding: 10px 40px;
    background-color: $light-grey;
    font-weight: $bold;

    &__filters {
        float: right;
    }

    &__sort {
        cursor: pointer;
        padding: 0 10px;

        &.active {
            color: $red;
        }
    }
}
