//colors
$white: #ffffff;
$red: #f55263;
$black: #000000;
$grey: #3c3c3c;
$light-grey: #f5f5f5;

//font-size
$sm: 10px;
$md: 14px;
$lg: 18px;
$x-lg: 60px;

//font-weight
$thin: 400;
$normal: 500;
$bold: 600;
