@import './constants.scss';
body {
    font-family: sans-serif;
    margin: 0;
}

.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey;
    font-size: $x-lg;
    font-weight: $bold;
    height: 100vh;
}

.row,
.col-4,
.col-8 {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-4,
.col-8 {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.text-center {
    text-align: center;
}
