@import '../../styles/constants.scss';

.movie-details {
    display: inline-block;
    padding: 20px;
    color: $white;

    &__title {
        font-size: $lg;
        font-weight: $bold;
        color: $red;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &__tagline {
        font-size: $md;
        font-weight: $thin;
        padding: 10px 0;
    }

    &__date,
    &__runtime {
        font-weight: $bold;
        padding-right: 15px;
    }

    &__overview {
        font-size: $md;
        font-weight: $thin;
        padding-top: 20px;
    }
}
